@import 'reset.css';

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    display: flex;
    font-family: Open Sans;
    font-weight: 200;
}

* {
  box-sizing: border-box;
}

.left-menu {
    height: 100%;
    background-color: #5229a3;
    width: 20%;
    color: #C7B2F1;
    position: relative;
}

.button-panel {
    width: 100%;
    position: absolute;
    bottom: 9px;
}

.add_button {
    background-color: #ECE9F2;
    margin-right: auto;
    margin-left: auto;
    color: #49425B;
    width: 80%;
    height: 25px;
    text-align: center;
    border-radius: 2px;
    font-weight: 600;
}

.entries {
    width: 100%;
    display: inline-block;
}

.entry:hover .delete_button {
    display: block;

}

.entry {
    width: 100%;
    vertical-align: middle;
    display: flex;
    padding: 5px;
}

.entry:hover {
    background-color: #725C9E !important;
}

.name {
    flex: 100 1 auto;
    font-size: 1.2em;
}

.right {
    flex: 0 1 25px;
    text-align: center;
    vertical-align: middle;
    /* display: none; */
}

.right .button {
    background-color: #ECE9F2;
    color: #49425B;
    border-radius: 50%;
    font-weight: 500;
    width: 20px;
    height: 20px;
    margin-top: 5px;
    line-height: 20px;
}

#add {

}

.entries .title {
  padding-left: 8px;
  font-size: 1.5em;
}

.expanded-entry {
  width: 80%;
}
.expanded-entry textarea {
  width: 100%;
  height: 100%;
  padding: 10px;
  font-size: 2em;
}
.expanded-entry textarea:focus {
  box-shadow: none;
  outline: 0;
  border: none;
}
