@import 'reset.css';

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    display: flex;
    font-family: Open Sans;
    font-weight: 200;
}

.left-menu {
    height: 100%;
    background-color: #5229a3;
    width: 20%; 
    color: #C7B2F1;
    position: relative;
}

.button-panel {
    width: 100%;
    position: absolute;
    bottom: 9px;
}

.button {
    background-color: #ECE9F2;
    color: #49425B;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    float: right;
    font-weight: 500;
}


.add_button {
    background-color: #ECE9F2;
    margin-right: auto;
    margin-left: auto;
    color: #49425B;
    width: 80%;
    height: 25px;
    text-align: center;
    border-radius: 2px;
    font-weight: 600;
}

.entries {
    width: 100%;
    display: inline-block;
}

.entry:hover .delete_button {
    display: block;
  
}

.entry:hover {
    background-color: #725C9E !important;
}

.entry {
    width: 100%;
    height: 30px;
    vertical-align: middle;
}

.delete_button {
    float: right;
    width: 15px;
    height: 15px;
    margin-top: 7px;
    margin-bottom: 7px;
    vertical-align: middle;
    /* display: none; */
}

.name {
    float: left;
    padding-left: 10px;
    padding-top: 3px;
}

#add {
    
}